*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #F9FAFF;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
/* ----Navbar---- */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.nav-title{
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  color: #25282B;
}
.nav__links{
  display: flex;
  gap: 48px;
}
.nav__links li{
  font-family: Raleway;
font-weight: 500;
font-size: 18px;
line-height: 28px;
letter-spacing: 0px;
color: #25282B;
list-style: none;
}
/* ----Header---- */
.header-content{
  padding-top: 67px;
}
.content-about{
  display: flex;
  justify-content: space-between;
}
.content-text{
  font-family: Nunito;
font-weight: 700;
font-size: 20px;
line-height: 100%;
color: #FDC435;
}
.content-title{
  font-family: Playfair Display;
font-weight: 700;
font-size: 64px;
line-height: 120%;
color: #333333;
padding-top: 12px;
}
.content-description{
  font-family: Nunito;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #828282;
padding-top: 32px;
}
.content-btns{
  display: flex;
  gap: 12px;
  padding-top: 32px;
}
.projects-btn{
  width: 115px;
  height: 43px;
  border: none;
  border-radius: 8px;
  background-color: #FDC435;
  color: #25282B;
  font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 150%;
cursor: pointer;
transition:transform 0.3s ease-in-out
}
.projects-btn:hover{
  transform: scale(1.1);
}
.projects-btn:active{
  transform: scale(1);
}
.Linkedin-btn{
  width: 115px;
  height: 43px;
  border: 2px solid #25282B;
  border-radius: 8px;
  background-color: transparent;
  color: #25282B;
  font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 150%;
cursor: pointer;
transition:transform 0.3s ease-in-out
}
.Linkedin-btn:hover{
  transform: scale(1.1);
}
.Linkedin-btn:active{
  transform: scale(1);
}
.designer-img{
  position: relative;
}
.background-img{
 position: relative;
 top: -34px;
 z-index: -1;
}
.img-designer{
  position: absolute;
  top: -34px;
  left: 0;
}
.main-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.projects-title{
  font-family: Playfair Display;
font-weight: 700;
font-size: 48px;
line-height: 72px;
}
.underline{
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background-color: #FDC435;
}
.cards{
  display: flex;
  gap: 80px;
  flex-direction: column;
  margin-top: 80px;
}
.card-info{
  width: 992px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 24px;
  margin-left: 102px;
}
.card-title{
  padding: 146px 0 145px 50px;
}
.card-title h2{
  font-family: Playfair Display;
font-weight: 700;
font-size: 40px;
line-height: 150%;
color: #25282B;
}
.card-title p {
  font-family: Nunito;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #828282;
padding-top: 24px;
}
.info__img {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.card-title1 h2{
  font-family: Playfair Display;
font-weight: 700;
font-size: 40px;
line-height: 150%;
color: #25282B;
}
.info__img1{
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.card-title1 p {
  font-family: Nunito;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #828282;
padding-top: 24px;
}
.card-title1{
  padding: 160px 39px 159px 50px;
}
.view-project-btn{
  width: 150px;
  height: 43px;
  border: 1px solid #25282B;
  border-radius: 24px;
  background-color: transparent;
  font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: #25282B;
margin-top: 24px;
cursor: pointer;
transition: transform 0.3s ease;
}
.view-project-btn:hover{
  transform: scale(1.1);
}
.view-project-btn:active{
  transform: scale(1);
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 114px;
}
form{
  width: 400px;
  margin-left: 400px;
  margin-top: 80px;
}
.first-input{
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.first-input1{
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding-top: 24px;
}
.Label-name{
  font-family: Nunito;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #25282B;
}
.Name-inp{
  width: 400px;
  height: 40px;
  border-radius: 8px;
  padding-left: 8px;
  outline: none;
  border: 1px solid #E8ECF4;
}
.massage-inp{
  width: 400px;
  padding-bottom: 160px;
  padding-left: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #E8ECF4;
}
.send-btn{
  width: 89px;
  height: 43px;
  background-color: #FDC435;
  border: none;
  border-radius: 8px;
  font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 150%;
margin-top: 24px;
margin-left: 311px;
}
.social-networks{
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 56px;
}